Repository Tashif-Bashir/ACTSDEMO, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation

refactor!: Template on track container frontend `TrackContainer`
  Core/include/Acts/AmbiguityResolution/GreedyAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/GreedyAmbiguityResolution.ipp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Core/include/Acts/EventData/TrackHelpers.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/AmbiguityDBScanClustering.hpp
  Plugins/EDM4hep/include/Acts/Plugins/EDM4hep/EDM4hepUtil.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/AmbiguityTrackClassifier.hpp
Labels: Component - Core, Component - Examples, Component - Plugins

formatting
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
Labels: Component - Core

rewrite `BoundaryCheck`
  Core/include/Acts/Surfaces/BoundaryCheck.hpp
  Core/include/Acts/Surfaces/BoundaryCheck.ipp
  Core/src/Surfaces/BoundaryCheck.cpp
Labels: Component - Core

reduce `CylinderBounds` diff
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/CylinderBounds.ipp
Labels: Component - Core

clean includes
  Core/src/Surfaces/CylinderBounds.cpp
  Core/src/Surfaces/TrapezoidBounds.cpp
Labels: Component - Core

Setup externs (Covfie, Detray, Tracccc, etc)
  CMakeLists.txt
  thirdparty/dfelibs/CMakeLists.txt
  thirdparty/dfelibs/README.MD
  thirdparty/thrust/CMakeLists.txt
  thirdparty/thrust/README.md
  thirdparty/vecmem/CMakeLists.txt
Labels: none

Setup covfie, detray, traccc, etc
  CMakeLists.txt
  thirdparty/vecmem/CMakeLists.txt
Labels: none

Bug fixes
  Examples/Python/src/Covfie.cpp
  Examples/Python/src/MagneticField.cpp
  Examples/Python/tests/test_covfie.py
  Plugins/Covfie/include/Acts/Plugins/Covfie/CovfieConversion.hpp
  Plugins/Covfie/src/CovfieConversion.cpp
  Tests/UnitTests/Plugins/Covfie/CMakeLists.txt
  Tests/UnitTests/Plugins/Covfie/CovfieConversionTest.cpp
Labels: Component - Examples, Component - Plugins

Covfie Plugin
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Covfie.cpp
  Examples/Python/src/CovfieStub.cpp
  Examples/Python/src/Material.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/tests/test_covfie.py
  Plugins/CMakeLists.txt
  Plugins/Covfie/CMakeLists.txt
  Plugins/Covfie/include/Acts/Plugins/Covfie/CovfieConversion.hpp
  Plugins/Covfie/src/CovfieConversion.cpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Covfie/CMakeLists.txt
  Tests/UnitTests/Plugins/Covfie/CovfieSetup.cpp
Labels: Component - Examples, Component - Plugins

undo `AnnulusBounds` reformatting
  Core/src/Surfaces/AnnulusBounds.cpp
Labels: Component - Core

remove todo - cone seems to be carthesian
  Core/src/Surfaces/ConeBounds.cpp
Labels: Component - Core

revert `CylinderBounds` format
  Core/src/Surfaces/CylinderBounds.cpp
Labels: Component - Core

remove dead include
  Tests/UnitTests/Core/Surfaces/ConeSurfaceTests.cpp
Labels: none

rebase and refactor
  Examples/Python/src/Covfie.cpp
  Plugins/Covfie/include/Acts/Plugins/Covfie/CovfieConversion.hpp
  Plugins/Covfie/src/CovfieConversion.cpp
  Tests/UnitTests/Plugins/Covfie/CovfieConversionTest.cpp
  cmake/ActsExternSources.cmake
Labels: Infrastructure, Component - Examples, Component - Plugins

pr feedback
  Core/include/Acts/Surfaces/BoundaryCheck.hpp
  Core/src/Surfaces/BoundaryCheck.cpp
Labels: Component - Core

Fixed merge mistakes
  CMakeLists.txt
  Plugins/CMakeLists.txt
  thirdparty/dfelibs/CMakeLists.txt
  thirdparty/thrust/CMakeLists.txt
  thirdparty/thrust/README.md
Labels: Component - Plugins

unit test different tolerances
  Tests/UnitTests/Core/Surfaces/BoundaryCheckTests.cpp
Labels: none

reapply patches
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/CylinderBounds.cpp
Labels: Component - Core

Introduced delegate for the source link creation and measurement selection
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core

Fuse processSelectedTrackStates and createSourceLinkTrackStates+measurementSelection.
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core

refactor: Remove `overstepLimit` from `EigenStepper`
  Core/include/Acts/Propagator/EigenStepper.hpp
Labels: Component - Core

fix impl
  Core/include/Acts/Propagator/EigenStepper.ipp
Labels: Component - Core

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
'Component - Examples':
  - Examples/**
'Component - Fatras':
  - Fatras/**
'Component - Plugins':
  - Plugins/**
'Component - Documentation':
  - docs/**
