Repository Tashif-Bashir/ACTSDEMO, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation

Setup externs (Covfie, Detray, Tracccc, etc)
  CMakeLists.txt
  thirdparty/algebra-plugins/CMakeLists.txt
  thirdparty/algebra-plugins/README.md
  thirdparty/covfie/CMakeLists.txt
  thirdparty/covfie/README.md
  thirdparty/detray/CMakeLists.txt
  thirdparty/detray/README.md
  thirdparty/dfelibs/CMakeLists.txt
  thirdparty/dfelibs/README.MD
  thirdparty/thrust/CMakeLists.txt
  thirdparty/thrust/README.md
  thirdparty/traccc/CMakeLists.txt
  thirdparty/traccc/README.md
  thirdparty/vecmem/CMakeLists.txt
Labels: none

Covfie Plugin
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Covfie.cpp
  Examples/Python/src/CovfieStub.cpp
  Examples/Python/src/Material.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/tests/test_covfie.py
  Plugins/CMakeLists.txt
  Plugins/Covfie/CMakeLists.txt
  Plugins/Covfie/include/Acts/Plugins/Covfie/CovfieConversion.hpp
  Plugins/Covfie/src/CovfieConversion.cpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Covfie/CMakeLists.txt
  Tests/UnitTests/Plugins/Covfie/CovfieSetup.cpp
  cmake/ActsExternSources.cmake
Labels: Infrastructure, Component - Examples, Component - Plugins

feat: Add CMake presets
  CMakePresets.json
Labels: none

Update docs with container policy
  docs/core/reconstruction/pattern_recognition/seeding.md
Labels: Component - Documentation

Refactor tests and plugins with container policy
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.ipp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Plugins

Container policy for seed filter
  Core/include/Acts/Seeding/ContainerPolicy.hpp
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples

Remove unused librairy
  Core/include/Acts/Seeding/ContainerPolicy.hpp
Labels: Component - Core

ACTS naming convention
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.ipp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

Remove unused librairy
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.hpp
Labels: Component - Plugins

Bug fixes
  Examples/Python/src/Covfie.cpp
  Examples/Python/src/MagneticField.cpp
  Examples/Python/tests/test_covfie.py
  Plugins/Covfie/include/Acts/Plugins/Covfie/CovfieConversion.hpp
  Plugins/Covfie/src/CovfieConversion.cpp
  Tests/UnitTests/Plugins/Covfie/CMakeLists.txt
  Tests/UnitTests/Plugins/Covfie/CovfieConversionTest.cpp
Labels: Component - Examples, Component - Plugins

Fix comment
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvBucketWriter.hpp
Labels: Component - Examples

Fix deprecation of sprintf
  Core/include/Acts/Seeding/Hashing/Annoylib.hpp
Labels: Component - Core

Add csv bucket writer
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvBucketWriter.hpp
  Examples/Io/Csv/src/CsvBucketWriter.cpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Python/src/Output.cpp
Labels: Component - Examples

Update docs with container policy
  docs/core/reconstruction/pattern_recognition/seeding.md
Labels: Component - Documentation

Refactor tests and plugins with container policy
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.ipp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Plugins

Add python script
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/hashing_seeding.py
Labels: Component - Examples

Add sorting of seeds
  Core/include/Acts/Seeding/InternalSpacePoint.hpp
  Core/include/Acts/Seeding/Seed.hpp
  Examples/Framework/include/ActsExamples/EventData/SimSpacePoint.hpp
Labels: Component - Core, Component - Examples

Revert Hashing as a building option
  CMakeLists.txt
  docs/getting_started.md
Labels: Component - Documentation

Add Hashing to docs
  docs/getting_started.md
Labels: Component - Documentation

Container policy for seed filter
  Core/include/Acts/Seeding/ContainerPolicy.hpp
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples

ACTS naming convention
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.ipp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

Remove unused librairy
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.hpp
Labels: Component - Plugins

Add Hashing code
  CMakeLists.txt
  Core/include/Acts/Seeding/Hashing/Annoylib.hpp
  Core/include/Acts/Seeding/Hashing/HashingAlgorithm.hpp
  Core/include/Acts/Seeding/Hashing/HashingAlgorithm.ipp
  Core/include/Acts/Seeding/Hashing/HashingAlgorithmConfig.hpp
  Core/include/Acts/Seeding/Hashing/HashingAnnoy.hpp
  Core/include/Acts/Seeding/Hashing/HashingAnnoy.ipp
  Core/include/Acts/Seeding/Hashing/HashingTraining.hpp
  Core/include/Acts/Seeding/Hashing/HashingTraining.ipp
  Core/include/Acts/Seeding/Hashing/HashingTrainingConfig.hpp
  Core/include/Acts/Seeding/Hashing/Kissrandom.hpp
  Core/include/Acts/Seeding/Hashing/Mman.hpp
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithmHashing.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithmHashing.cpp
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Component - Examples

Remove unused librairy
  Core/include/Acts/Seeding/ContainerPolicy.hpp
Labels: Component - Core

Remove ordering of Sim Space Points
  Examples/Framework/include/ActsExamples/EventData/SimSpacePoint.hpp
Labels: Component - Examples

Add note for modification of licensed files
  Core/include/Acts/Seeding/Hashing/Annoylib.hpp
  Core/include/Acts/Seeding/Hashing/Kissrandom.hpp
  Core/include/Acts/Seeding/Hashing/Mman.hpp
Labels: Component - Core

Add a details namespace
  Core/include/Acts/Seeding/Hashing/HashingAnnoy.ipp
Labels: Component - Core

Make annoy thirdparty
  CMakeLists.txt
  Core/CMakeLists.txt
  Core/include/Acts/Seeding/Hashing/Annoylib.hpp
  Core/include/Acts/Seeding/Hashing/HashingAlgorithm.hpp
  Core/include/Acts/Seeding/Hashing/HashingAnnoy.hpp
  Core/include/Acts/Seeding/Hashing/HashingTraining.hpp
  Core/include/Acts/Seeding/Hashing/Kissrandom.hpp
  Core/include/Acts/Seeding/Hashing/Mman.hpp
  thirdparty/Annoy/0001-Modify-annoy.patch
  thirdparty/Annoy/CMakeLists.txt
Labels: Component - Core

adding some more options to the output file
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/sim_digi_odd.py
Labels: Component - Examples

add a few more options
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples

adding obj simhit writer
  Examples/Io/Obj/CMakeLists.txt
  Examples/Io/Obj/include/ActsExamples/Io/Obj/ObjPropagationStepsWriter.hpp
  Examples/Io/Obj/include/ActsExamples/Io/Obj/ObjSimHitWriter.hpp
  Examples/Io/Obj/include/ActsExamples/Io/Obj/ObjTrackingGeometryWriter.hpp
  Examples/Io/Obj/include/ActsExamples/Io/Obj/ObjWriterOptions.hpp
  Examples/Io/Obj/src/ObjSimHitWriter.cpp
  Examples/Io/Obj/src/ObjTrackingGeometryWriter.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Output.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples

removing unused variable
  Examples/Io/Obj/src/ObjSimHitWriter.cpp
Labels: Component - Examples

refactor!: Refactor navigator options
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/NavigatorOptions.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/VoidNavigator.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core

refactor: Refactor `DirectNavigator` initialization
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
Labels: Component - Core

add spline fit to smoothen the curves
  Examples/Io/Obj/include/ActsExamples/Io/Obj/ObjSimHitWriter.hpp
  Examples/Io/Obj/src/ObjSimHitWriter.cpp
Labels: Component - Examples

remove obsolete sim_digi script
  Examples/Scripts/Python/sim_digi_odd.py
Labels: Component - Examples

refactor!: Move `Navigator` external surfaces into options
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

refactor!: Refactor navigator options
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/NavigatorOptions.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/VoidNavigator.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core

fix `Navigator::makeState`
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

refactor: Use Core `CKF` extrapolation after inwards extension
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Labels: Component - Examples

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
'Component - Examples':
  - Examples/**
'Component - Fatras':
  - Fatras/**
'Component - Plugins':
  - Plugins/**
'Component - Documentation':
  - docs/**
