Repository Tashif-Bashir/ACTSDEMO, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation

change the definitiom of the rotation parameters
  Core/include/Acts/Definitions/Alignment.hpp
  Core/include/Acts/Surfaces/detail/AlignmentHelper.hpp
  Core/src/Surfaces/detail/AlignmentHelper.cpp
  Tests/UnitTests/Core/Surfaces/AlignmentHelperTests.cpp
Labels: Component - Core

fix rotation update
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
Labels: none

Add comments for alignmentHelper
  Core/src/Surfaces/detail/AlignmentHelper.cpp
Labels: Component - Core

add try all overstep navigator
  Core/include/Acts/Propagator/TryAllOverstepNavigator.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

remove post step return
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/TryAllOverstepNavigator.hpp
Labels: Component - Core

remove auctioneer; replace extension list with single extension
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/StepperExtensionList.hpp
  Core/include/Acts/Propagator/detail/Auctioneer.hpp
  Core/include/Acts/Propagator/detail/GenericDefaultExtension.hpp
  Core/include/Acts/Propagator/detail/GenericDenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/detail/GenericExtensionBase.hpp
  Tests/UnitTests/Core/Propagator/AuctioneerTests.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Labels: Component - Core

adopt docs; fix more code
  Examples/Run/Common/src/MaterialValidationBase.cpp
  Tests/IntegrationTests/Autodiff/PropagationAutodiffConstant.cpp
  Tests/IntegrationTests/Autodiff/PropagationAutodiffDenseConstant.cpp
  Tests/IntegrationTests/Autodiff/PropagationCompareAtlasAutodiffConstant.cpp
  Tests/IntegrationTests/Autodiff/PropagationCompareEigenAutodiff.cpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  docs/core/propagation.md
Labels: Component - Examples, Component - Documentation

refactor: Use constexpr string_views for json keys
  Plugins/Json/include/Acts/Plugins/Json/GeometryJsonKeys.hpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Plugins/Json/src/VolumeJsonConverter.cpp
Labels: Component - Plugins

bump minimum and bundles json version
  CMakeLists.txt
  thirdparty/nlohmann_json/CMakeLists.txt
Labels: none

ship 3.11.2 (that's what we have in docker)
  thirdparty/nlohmann_json/CMakeLists.txt
Labels: none

cvs: wip: VolumeSynchronizing
  Tests/UnitTests/Core/Geometry/VolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/VolumeTests.cpp
Labels: none

cvs: test wip
  Tests/UnitTests/Core/Geometry/VolumeTests.cpp
Labels: none

cvs: basic scenario with gaps working
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/CylinderVolumeBounds.cpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
  Tests/UnitTests/Core/Geometry/VolumeTests.cpp
Labels: Component - Core

cvs: z stack resizing implemented
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

cvs: exceptions for phi params, bevel
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

cvs: todos + more tests
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

cvs: add strategy second
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

cvs: position check is good
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: none

cvs: const bounds pointers in CylStack
  Core/src/Geometry/CylinderVolumeStack.cpp
Labels: Component - Core

cvs: fixup
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

cvs: z stacking basically done
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

cvs: construction done
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: none

cvs: refactor local extent access
  Core/src/Geometry/CylinderVolumeStack.cpp
Labels: Component - Core

cvs: r resizing implemented
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

cvs: const pointer to volume bounds
  Core/src/Geometry/CylinderVolumeStack.cpp
Labels: Component - Core

cvs: Add mutable gaps access
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CylinderVolumeStack.cpp
Labels: Component - Core

cvs: Strategy First now works
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

cvs: Extra gap volume vector + factory function
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

cvs: Gaps access
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CylinderVolumeStack.cpp
Labels: Component - Core

cvs: wip
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

cvs: External vector is raw pointer
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

cvs: code structure
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CylinderVolumeBounds.cpp
  Core/src/Geometry/CylinderVolumeStack.cpp
Labels: Component - Core

revert extraneous changes
  Tests/UnitTests/Core/Geometry/VolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/VolumeTests.cpp
Labels: none

cvs: missing strategy in resize test
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: none

cvs: Support asymmetric update in r direction
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

csv: Asym rdir test update
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: none

cvs: z direction asymmetric expansion
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

cvs: Spelling
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: none

Add cylinder volume stack to forced autodocs
  docs/_extensions/lazy_autodoc.py
Labels: Component - Documentation

Setup covfie, detray, traccc, etc
  CMakeLists.txt
  cmake/ActsExternSources.cmake
  thirdparty/FRNN/CMakeLists.txt
  thirdparty/GeoModel/CMakeLists.txt
  thirdparty/actsvg/CMakeLists.txt
  thirdparty/algebra-plugins/CMakeLists.txt
  thirdparty/boost/CMakeLists.txt
  thirdparty/covfie/CMakeLists.txt
  thirdparty/detray/CMakeLists.txt
  thirdparty/dfelibs/CMakeLists.txt
  thirdparty/eigen3/CMakeLists.txt
  thirdparty/nlohmann_json/CMakeLists.txt
  thirdparty/pybind11/CMakeLists.txt
  thirdparty/traccc/CMakeLists.txt
  thirdparty/vecmem/CMakeLists.txt
Labels: Infrastructure

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
'Component - Examples':
  - Examples/**
'Component - Fatras':
  - Fatras/**
'Component - Plugins':
  - Plugins/**
'Component - Documentation':
  - docs/**
